In [89]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen
import logging

In [90]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [91]:
# for accessing the all the pages we use the for loop

for i in range(1, 300):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")

    soup = bs(page.content, "html.parser")

    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)

    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")

    #date
    for item in soup.find_all("time"):
        date.append(item.text)

    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 32
Error on page 33
Error on page 34
Error on page 36
Error on page 36

In [92]:
len(reviews)

3734

In [93]:
len(date)

3734

In [94]:
len(country)

3734

In [95]:
len(stars)

4033

In [96]:
len(reviews)

3734

In [84]:
len(country)

3721

In [97]:
len(date)

3734

In [99]:
stars = stars[:3734]

In [100]:
len(stars)

3734

In [101]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [102]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | The plane was extremely dir...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,15th January 2024,Ireland
1,Not Verified | Overall journey wasn’t bad howe...,1,12th January 2024,United Kingdom
2,✅ Trip Verified | Overall very satisfied. Gro...,4,12th January 2024,United Kingdom
3,✅ Trip Verified | As always when I fly BA it ...,9,9th January 2024,Spain
4,✅ Trip Verified | First time using BA busines...,1,7th January 2024,United Kingdom

In [103]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")